<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>Attendance</title>
</head>

<body>



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10 mt-5">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row justify-content-center">

              <div class="col-lg-6">
                <div class="p-5 shadow-lg  bg-white rounded">
                  <div class="text-center">
                    <h4 class="text-dark mb-4">Enter Student</h4>
                  </div>
                  <form class="user" method="post" action="/attendance">

                    <div class="mb-3">

                      <input style="margin-bottom: 16px;" class="form-control border-secondary" name="login" id="login"
                        type="text" name="name" id="" placeholder="Student Name">

                

                      <input class="form-control form-control-user bor border-secondary" placeholder="Roll Number "
                        type="text" id="rollno" name="rollno">

                      <input class="form-control form-control-user bor border-secondary" placeholder="Username "
                        type="text" id="username" name="username">

                        <input class="form-control form-control-user bor border-secondary" placeholder="PRN Number "
                        type="text" id="prn" name="prn">

                    </div>


                    <button class="btn btn-primary d-block btn-user w-100" type="submit submit">Add Attendance</button>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <label for="price">Enter Present or Not</label>

      <select name="attedance" id="">
        <option value="present">Present</option>
        <option value="absent">Absent</option>
      </select>
      <button>Mark Attendace</button> -->
  </form>
</body>

</html>