<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERP Website</title>
  </head>
  <body>
    <h2>Hiiiii</h2>

    <ul>
      <% for (let elem of stu_data) { %>
      <li><%= elem.name %> - <%= elem.rollno %> - <%= elem.division %> </li>
      <% } %>


      <a href="/attendance">See Attedance</a>
    </ul>
  </body>
</html>
