<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login?_method=PUT" method="post">
        <label for="name">Enter Name </label>
      <input type="text" name="name" id="" placeholder="Student Name" />

      <label for="rollno">Password:</label>
      <input type="password" id="rollno" name="rollno" />

      <button>Check</button>
    </form>
</body>
</html>