<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Teacher data here</h2>

    <% for( let teacher of teacher_data ) { %>
        <h4><%= teacher.name %> </h4>
        <h4><%= teacher.email %> </h4>
    <% } %>

    <a href="/teacher/create"> Teacher Creation</a>
</body>
</html>